<div class="card m-5">

  <h4 class="card-header text-center">Book a trip with <%= @spaceship.name %></h4>

  <div class="card-body">

    <%= simple_form_for([@spaceship, @booking]) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Book now!", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>

</div>
