
<% @user.bookings.each do |booking| %>
  <div class="card-ship m-2">
    <%= image_tag booking.spaceship.main_pic_url, class: "spaceship-img", alt: "spaceship", width: 350 %>
    <div class="card-ship-infos">
      <div>
        <h2><%= booking.spaceship.name %></h2>
        <p><%= booking.spaceship.description %></p>
      </div>
      <h2 class="card-ship-pricing"><%= booking.spaceship.unit_price %>€</h2>
      <img src="https://pbs.twimg.com/profile_images/794107415876747264/g5fWe6Oh_400x400.jpg" class="card-ship-user avatar-bordered" />
    </div>
  </div>
<% end %>


<!-- pour image hosté : <#%= cl_image_tag(@cocktails.photo.key, height: 300, width: 400, crop: :fill) %> -->

<!-- # <% @user.bookings.each do |booking| %>
#   <div class="card" style="width: 20rem;">
#     <img class="card-img-top" src=<%= "#{booking.spaceship.main_pic_url}" %> alt="Card image cap">
#     <div class="card-body">
#       <h5 class="card-title"><%= booking.spaceship.name %></h5>
#       <p class="card-text">
#         <ul>
#           <li>Size (matters): <%= booking.spaceship.size %></li>
#           <li>Max Speed (LY/day): <%= booking.spaceship.max_speed %></li>
#           <li>Capacity: <%= booking.spaceship.capacity %></li>
#         </ul>
#       </p>
#       <a href="#" class="btn btn-primary">Edit booking</a>
#     </div>
#   <% end %>
# </div>
 -->
