
<% @user.spaceships.each do |spaceship| %>
  <%= link_to spaceship_path(spaceship) do %>
    <div class="card-ship m-2">
      <% random_img = ["07_ljxygu", "04_rtymsz", "01_x67kdi", "06_q2rsfn", "05_p1r7ub", "08_fpsmhu", "03_dvrozk", "02_dwhcf8"] %>
      <%= cl_image_tag spaceship.photo.attached? ? spaceship.photo.key : random_img.sample, height: 300, width: 350, crop: :fill %>
      <div class="card-ship-infos">
        <div>
          <h2><%= spaceship.name %></h2>
          <p><%= spaceship.description.first(80) %></p>
        </div>
        <h2 class="card-ship-pricing"><%= spaceship.unit_price %>€</h2>
        <img src="https://pbs.twimg.com/profile_images/794107415876747264/g5fWe6Oh_400x400.jpg" class="card-ship-user avatar-bordered" />
      </div>
    </div>
  <% end %>
<% end %>
