<div class="row justify-content-center m-4">
  <h1>Need a space ride? The best spacecrafts are here!</h1>
</div>

<div class="row justify-content-center mb-4">
  <%= render 'shared/searchbar' %>
</div>

<% if @query && @no_results%>
  <div class="row justify-content-center mb-4">
    <h3>No results found for <%= @query %></h3>
  </div>
<% end %>

<div class="row justify-content-center mb-4">

  <% @spaceships.each do |spaceship| %>
    <%= link_to spaceship_path(spaceship), class:"card-link" do %>
      <div class="card-ship m-2">
        <% random_img = ["07_ljxygu", "04_rtymsz", "01_x67kdi", "06_q2rsfn", "05_p1r7ub", "08_fpsmhu", "03_dvrozk", "02_dwhcf8"] %>
        <%= cl_image_tag spaceship.photo.attached? ? spaceship.photo.key : random_img.sample, height: 300, width: 350, crop: :fill %>
        <div class="card-ship-infos">
          <div>
            <h2><%= spaceship.name %></h2>
            <p><%= spaceship.description.first(80) %></p>
          </div>
          <h2 class="card-ship-pricing"><%= spaceship.unit_price %>€</h2>
          <img src="https://pbs.twimg.com/profile_images/794107415876747264/g5fWe6Oh_400x400.jpg" class="card-ship-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>

</div>
