<div class="row">
  <div class="spaceship-sticky-header">
    <div class="spaceship-header">
      <h1>
        <%= @spaceship.name %>
        <%#= link_to "BOOK", new_spaceship_booking_path(@spaceship), class: "btn btn-success" %>
      </h1>
      <div class="edit-delete">
        <%= link_to "edit", edit_spaceship_path(@spaceship), class: "links" %> -
        <%= link_to "delete", spaceship_path(@spaceship),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "links" %>
      </div>
    </div>
    <div class="spaceship-subhead">
      <h3 class="subtitle">(<%= @spaceship.address %>)</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <div class="main-pic">
      <a href="https://www.youtube.com/watch?v=ma7TL8jJT0A">
        <%= image_tag @spaceship.main_pic_url, alt: "spaceship", class: "main-pic-img" %>
      </a>
    </div>

    <div class="spaceship-infos">
      <div class="description">
        <h3>Description</h3>
        <p><%= @spaceship.description %></p>
      </div>
      <div class="features">
        <h3>Features</h3>
        <div class="features-list">
          <p><i class="fas fa-ruler-horizontal"></i> <%= @spaceship.size %> m</p>
          <p><i class="fas fa-tachometer-alt"></i> <%= @spaceship.max_speed %> pc/day</p>
          <p><i class="fas fa-users"></i> <%= @spaceship.capacity %> passengers</p>
        </div>
      </div>
    </div>
    
    <div class="reviews">
      <h3>Reviews</h3>
      <div class="reviews-list">

      </div>
    </div>
  </div>

  <div class="col-4">
    <p>Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.Ur kabukk gwyaaaag mumwa hnn-rowr wua rarr rarr.</p>
  </div>

</div>
