<div class="container-spaceship">
  <div class="head">
    <h1><%= @spaceship.name %></h1>
    <div class="spaceship-subhead">
      <h3 class="subtitle">(<%= @spaceship.address %>) - </h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>
    <%= link_to "Edit", edit_spaceship_path(@spaceship) %>
    <%= link_to "Delete", spaceship_path(@spaceship),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    <div class="main-pic">
      <a href="https://www.youtube.com/watch?v=ma7TL8jJT0A">
        <%= image_tag @spaceship.main_pic_url, alt: "spaceship", width: 400 %>
      </a>
    </div>
  </div>

  <div class="second-container">
    <div class="description">
      <h3>Description</h3>
      <p><%= @spaceship.description %></p>
    </div>
    <div class="features">
      <h3>Features</h3>
      <div class="features-list">
        <p><i class="fas fa-ruler-horizontal"></i> <%= @spaceship.size %> m</p>
        <p><i class="fas fa-tachometer-alt"></i> <%= @spaceship.max_speed %> pc/day</p>
        <p><i class="fas fa-users"></i> <%= @spaceship.capacity %> passengers</p>
      </div>
    </div>
    <div class="reviews">
      <h3>Reviews</h3>
      <div class="reviews-list">

      </div>
    </div>
  </div>
</div>
