<div class="row spaceship-sticky-header">
  <div class="col-12">
    <div class="spaceship-header">
      <h1>
        <%= @spaceship.name %>
      </h1>
      <div class="edit-delete">
        <% if user_signed_in? && current_user.id == @spaceship.user_id %>
          <%= link_to "edit", edit_spaceship_path(@spaceship), class: "links" %> -
          <%= link_to "delete", spaceship_path(@spaceship),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "links" %>
        <% end %>
      </div>
    </div>

    <div class="spaceship-subhead">
      <h3 class="subtitle">(<%= @spaceship.address %>)</h3>
      <a href="#reviews-part">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <div class="main-pic">
      <a href="https://www.youtube.com/watch?v=ma7TL8jJT0A">
        <% random_img = ["07_ljxygu", "04_rtymsz", "01_x67kdi", "06_q2rsfn", "05_p1r7ub", "08_fpsmhu", "03_dvrozk", "02_dwhcf8"] %>
        <%= cl_image_tag @spaceship.photo.attached? ? @spaceship.photo.key : random_img.sample, width: 350 %>
      </a>
    </div>

    <div class="spaceship-infos">
      <div class="description">
        <h3>Description</h3>
        <p><%= @spaceship.description %></p>
      </div>
      <div class="features">
        <h3>Features</h3>
        <div class="features-list">
          <p><i class="fas fa-ruler-horizontal"></i> <%= @spaceship.size %> m</p>
          <p><i class="fas fa-tachometer-alt"></i> <%= @spaceship.max_speed %> pc/day</p>
          <p><i class="fas fa-users"></i> <%= @spaceship.capacity %> passengers</p>
        </div>
      </div>
      <div class="reviews">
        <h3>Reviews</h3>
        <div class="reviews-list">
          <ul><% @spaceship.reviews.each do |review| %>
              <li><%= review.comment %></li>
              <li><%= review.stars %></li>
              <i class="fas fa-star"></i>
            <% end %>
          </ul>
        </div>
    </div>
      </div>
    </div>


  <div class="col-4">
    <div class="booking-form">
      <%= render 'bookings/new' %>
    </div>
    <div class="review-form">
      <%= render 'reviews/new' %>
    </div>
  </div>

</div>
